build
target
/bin/
eq.jar
/out/
/.idea/
/.settings/
/executequery.iml
RedExpert.jar
/classes/
/temp/
.classpath
.project

red-expert\.iml

RedExpert\.iml

*.iml

lib/fbplugin\.jar

lib/fbplugin-impl\.jar

lib/jdbc-logger\.jar

lib/jaybird-full\.jar

lib/jaybird-cryptoapi\.jar

sql.log

src/org/underworldlabs/sqlParser/REDDATABASESql*
