cache:
  paths:
    - .m2/repository


stages:
  - prepare
  - sources
  - build_docs
  - build
  - test
  - repackage
  - deploy

variables:
  RELEASE_HUB_PROJECT: red_expert
  CI_URL: ${CI_PROJECT_URL}/pipelines/${CI_PIPELINE_ID}
  CONTEXT: commit
  TAG_BRANCH: master
  MAVEN_OPTS: "-Dmaven.repo.local=${CI_PROJECT_DIR}/.m2/repository"
  http_proxy: "http://git.red-soft.biz:3128"
  https_proxy: "http://git.red-soft.biz:3128"
  no_proxy: localhost,172.0.0.0/8,127.0.0.0/8,10.0.0.0/8,.red-soft.biz

prepare:
  tags:
    - docker
    - builder
    - x86_64
  stage: prepare
  image: registry.red-soft.biz:5000/utils/red-release-manager/client:master
  script:
    - mkdir .ci
    - apk --update add sed
    - |
      if [ "${CI_COMMIT_TAG}" ]; then
        VERSION_IN_POM=$(mvn -q -Dexec.executable="echo" -Dexec.args='${project.version}' --non-recursive org.codehaus.mojo:exec-maven-plugin:1.3.1:exec)
        VERSION=$(echo ${CI_COMMIT_TAG}|sed 's/v//')
        if [ "$VERSION" != "$VERSION_IN_POM" ]; then
          echo Project versions in pom.xml $VERSION_IN_POM and tag $VERSION do not match!
          exit 1
        fi
        SUFFIX=$(echo $VERSION|awk -F- '{print $2}')
        if [ "${SUFFIX}" ]; then
          STAGE=rc
        else
          STAGE=release
        fi
        BRANCH=${TAG_BRANCH}
        CONTEXT=tag
      else
        VERSION=$(date +"%Y.%m")
        BUILDNO=$(relmanager_client genbuildno ${RELEASE_HUB_PROJECT} ${VERSION}-SNAPSHOT)
        VERSION=${VERSION}-SNAPSHOT.${BUILDNO}
        BRANCH=${CI_COMMIT_REF_NAME}
        CONTEXT=commit
        STAGE=snapshot
      fi
    - m4 -DVERSION=${VERSION} ci/artifacts.m4 > .ci/artifacts
    - echo VERSION=${VERSION} > vars.env
    - echo BRANCH=${BRANCH} >> vars.env
    - echo CONTEXT=${CONTEXT} >> vars.env
    - echo STAGE=${STAGE} >> vars.env
  artifacts:
    paths:
      - .ci
    reports:
      dotenv: vars.env

sources:
  tags:
    - docker
    - builder
    - x86_64
  stage: sources
  image: maven:3-jdk-8-alpine
  before_script:
    - apk --update add bash git
    - git config --global user.name "Dummy Name"
    - git config --global user.email "dummy@email.org"
  script:
    - ./ci/prepare-src.sh
  artifacts:
    expire_in: 1 day
    paths:
      - dist-src/



build_docs:
  stage: build_docs
  artifacts:
    expire_in: 1 day
    paths:
      - dist/
  tags:
    - docker
    - builder
    - x86_64
  image: registry.red-soft.biz:5000/docker-images/texlive-alpine/texlive2018-alpine:20190305
  before_script:
    - tar xf dist-src/RedExpert-$VERSION-src.tar.gz
  script:
    - cd RedExpert-$VERSION && ./ci/build_docs.sh && cd ..
    - mv RedExpert-$VERSION/dist .


.build_template:
  stage: build
  artifacts:
    expire_in: 1 day
    paths:
      - dist/

build:linux:
  extends: .build_template
  image: ${BUILD_IMAGE}
  tags:
    - docker
    - builder
    - x86_64
  variables:
    MAVEN_VERSION: 3.9.3
    M2_HOME: /opt/apache-maven-${MAVEN_VERSION}/
    QMAKE: qmake-qt4
    DIST: ${CI_PROJECT_DIR}/dist/linux-${ARCH}
  before_script:
    - yum -y update
    - yum install -y java-1.8.0-openjdk-devel qt-devel gtk3-devel wget libcurl-devel
    - yum group install -y "Development Tools"
    - yum install -y ca-certificates
    - cd /opt
    - wget https://archive.apache.org/dist/maven/maven-3/${MAVEN_VERSION}/binaries/apache-maven-${MAVEN_VERSION}-bin.tar.gz
    - tar xzf apache-maven-${MAVEN_VERSION}-bin.tar.gz
    - export PATH=${M2_HOME}/bin:${PATH}
    - export JAVA_HOME=`java -XshowSettings:properties -version 2>&1|grep "java.home"|cut -d "=" -f 2|tr -d " "|rev | cut -c 4- | rev`
  script:
    - cd "${CI_PROJECT_DIR}"
    - tar xf dist-src/RedExpert-$VERSION-src.tar.gz
    - cd RedExpert-$VERSION
    - ./ci/build_native.sh
    - ./ci/build_jar.sh
    - mkdir -p "${DIST}"
    - mv native/RedExpertNativeLauncher/resources "${DIST}"
    - mkdir "${DIST}"/guide/
    - chmod +x modules/redexpert/target/bin/*
    - mv modules/redexpert/target/bin "${DIST}"
    - mv modules/redexpert/target/config "${DIST}"
    - mv modules/redexpert/target/lib "${DIST}"
    - cp -r license/ "${DIST}"
    - cp -r "${CI_PROJECT_DIR}"/dist/guide/ "${DIST}"
    - mv modules/redexpert/target/LICENSE.txt "${DIST}"
    - mv modules/redexpert/target/red_expert.ico "${DIST}"
    - mv modules/redexpert/target/red_expert.png "${DIST}"
    - mv modules/redexpert/target/RedExpert.jar "${DIST}"
    - ./ci/build_installer.sh
  parallel:
    matrix:
      - BUILD_IMAGE: oraclelinux:7
        ARCH: x86_64
      - BUILD_IMAGE: i386/centos:7
        ARCH: x86

build:windows:
  extends: .build_template
  tags:
    - windows
    - proxmox
  variables:
    ErrorActionPreference: STOP
    JAVA_HOME: c:\Program Files\Java\jdk8
    DIST: ${CI_PROJECT_DIR}\dist\windows-${ARCH}
    URL_INSTALLBUILDER: http://builds.red-soft.biz/release_hub/installbuilder/20.12.0/download/installbuilder:windows-${ARCH}:20.12.0:exe
  before_script:
    - $env:RE_VERSION = $VERSION
    - unzip -q dist-src\RedExpert-$VERSION-src.zip
    - mkdir ${DIST}
    - cd ${CI_PROJECT_DIR}\RedExpert-$VERSION
    - echo "downloading installbuilder from ${URL_INSTALLBUILDER}"
    - $client=new-object System.Net.WebClient
    - $client.DownloadFile(${URL_INSTALLBUILDER}, "${CI_PROJECT_DIR}\RedExpert-$VERSION\ib.exe")
    - echo "installing installbuilder"
    - $pwd=pwd
    - $pwd=$pwd.path
    - $prefix_installbuilder="$pwd\ib"
    - echo $prefix_installbuilder
    - .\ib.exe --mode unattended  --prefix $prefix_installbuilder
    - $env:PATH="$prefix_installbuilder\bin\;"+$env:PATH
    - echo $env:PATH
  script:
    - cd ${CI_PROJECT_DIR}\RedExpert-$VERSION
    - ls
    - powershell -ExecutionPolicy ByPass -file ci\build_native.ps1
    - powershell -ExecutionPolicy ByPass -file ci\build_jar.ps1
    - mv modules/redexpert/target/bin "${DIST}"
    - mv modules/redexpert/target/config "${DIST}"
    - mv modules/redexpert/target/lib "${DIST}"
    - cp -r license/ "${DIST}"
    - cp -r ${CI_PROJECT_DIR}/dist/guide/ ${DIST}/
    - mv modules/redexpert/target/LICENSE.txt "${DIST}"
    - mv modules/redexpert/target/red_expert.ico "${DIST}"
    - mv modules/redexpert/target/red_expert.png "${DIST}"
    - mv modules/redexpert/target/RedExpert.jar "${DIST}"
    - powershell -ExecutionPolicy ByPass -file ci\build_installer.ps1
  parallel:
    matrix:
      - ARCH: x86_64
        QMAKE: c:\Qt\Qt5.6.3\5.6.3\msvc2013_64\bin\qmake.exe
      - ARCH: x86
        QMAKE: c:\Qt\Qt5.6.3_x86\5.6.3\msvc2013\bin\qmake.exe

.test_template:
  stage: test
  artifacts:
    expire_in: 1 day
    paths:
      - test-results/
  except:
    variables:
      - $SKIP_TESTS == "1"

test:windows:
  extends: .test_template
  tags:
    - windows
    - proxmox
    - tester
  variables:
    PROXMOX_TEMPLATE: template-testing-re-windows-7
    JAVA_HOME: c:\Program Files\Java\jdk8
    ErrorActionPreference: STOP
    DIST: ${CI_PROJECT_DIR}\dist\windows-${ARCH}
    PYTHON: c:\Python38\python.exe
    WORKSPACE: ${CI_PROJECT_DIR}
    DISTRO: red-expert-tests
  parallel:
    matrix:
      - TEST_TYPE: core
        ARCH: ["x86_64", "x86"]
        DBMS: ["Firebird-3.0", "Firebird-5.0", "rdb30", "rdb50"]
  before_script:
   - $TEST_DIR = New-TempDirectory -Prefix 'test_re_'
   - cd $TEST_DIR
   - unzip -q ${CI_PROJECT_DIR}\dist-src\RedExpert-$env:VERSION-src.zip
   - cd $TEST_DIR\RedExpert-$env:VERSION\ci
   - start-process "${PYTHON}" "-m pip install beautifulsoup4" -wait -nonewwindow
   - start-process "${PYTHON}" ".\download_dbms.py ${DBMS} ${ARCH}" -wait -nonewwindow
   - powershell -ExecutionPolicy ByPass -file install_dbms.ps1
   - cd $DIST\bin
   - |
      if ($env:ARCH -eq "x86_64")
      {
        start-process .\RedExpert64.exe
      }
      else
      {
        start-process .\RedExpert.exe
      }
  script:
   - cd $TEST_DIR\RedExpert-$env:VERSION\ci
   - powershell -ExecutionPolicy ByPass -file test.ps1
  dependencies: ["prepare", "sources", "build:windows"]
  needs: ["prepare", "sources", "build:windows"]
  

repackage:
  tags:
    - docker
    - builder
    - x86_64
  stage: repackage
  image: alpine:3.8
  before_script:
    - apk --update add bash tar zip
  script:
    - ./ci/repackage.sh linux-x86_64 linux-x86 windows-x86_64 windows-x86
  artifacts:
    expire_in: 1 day
    paths:
      - dist/unified/
  dependencies: [ "prepare", "sources", "build:windows", "build:linux" ]
  needs: [ "prepare", "sources", "build:windows", "build:linux" ]

deploy:
  tags:
    - docker
    - builder
    - x86_64
  stage: deploy
  image: registry.red-soft.biz:5000/utils/red-release-manager/client:master
  script:
    - test -d test-results && for f in $(find test-results -name \*.xml); do printf "testpack $(basename ${f/.xml})\nfile $f\nend\n"; done >> .ci/artifacts || true
    - |
      for d in $(find test-results/* -maxdepth 1 -type d | sed 's/test-results\///'); do
        printf "testpack $d\n";
        for t in $(find test-results/$d -name \*.xml); do
          printf "file $t\n";
        done;
        printf "end\n";
      done >> .ci/artifacts || true
    - relmanager_client deploy ${RELEASE_HUB_PROJECT} ${VERSION} --artifacts .ci/artifacts --ci_url ${CI_URL} --context ${CONTEXT} --branch ${BRANCH} --commit ${CI_COMMIT_SHA} --stage ${STAGE}
  only:
    variables:
      - "$RELEASE_HUB_KEY"
